<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragments/head_for_bootstrap :: head">.</th:block>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div>
        <form action="#" method="post" th:action="@{/search}" th:object="${book}">
            <label>
                <span>Tytuł: </span><input type="text" minlength="3" th:field="*{title}">
            </label>
            <label>
                <span>Autor: </span><input type="text" minlength="3" th:field="*{author}">
            </label>
            <label>
                <span>Kategoria: </span><input type="text" minlength="3" th:field="*{category.name}">
            </label>
            <input type="submit" value="Wyszukaj">
        </form>
    </div>
    <div>
        <ul>
            <li th:each="book : ${books}" th:object="${book}">
                <span th:text="*{title}"></span>
                <a th:href="|@{/borrow}?id=*{id}|">Wypożycz</a>
            </li>
        </ul>
    </div>
</body>
</html>